* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.top-section {
  background-image: url(./personal-website/header-bg.png);
  height: 500px;
  margin-bottom: 7%;
}
.half-width {
  width: 40%;
  float: left;
  margin-top: 7%;
}
.half-width img {
  width: 400px;
  float: right;
  margin-right: 5%;
  
}
.mid-text {
  font-size: 23px;
  padding-bottom: 3%;
}
p{
    margin-top: 5%;
    margin-bottom: 5%;
}
.big-text {
  font-size: 34px;
  margin-bottom: 6%;
  color: rgb(173, 6, 173);
  
}
.text {
  margin-left: 15%;
  margin-top: 16%;
}
.btn{
    background-color: rgb(173, 6, 173);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 15%;
    text-decoration: none;
}
.faltu{
    margin-top: 20%;
    margin-left: 15%;
}
.mid-section{
    background-image: url(./personal-website/biography-bg.png);
    height: 700px;
    background-repeat: none;
}